.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 56, 56);
    padding-left: 1%;
    padding-right: 1%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: +1;
}


.navbar>div {
    min-width: 30%;
}

.navbar .auth-profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .auth-profile .auth {
    margin-right: 10px;
}