.my-button {
  background-color: rgb(255, 204, 0);
  border: none;
  color: black;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

.my-button.blue {
  background-color: rgb(212, 105, 10);
}

.my-button.blue:hover {
  background-color: rgb(172, 85, 10);
}

.my-button.red {
  background-color: rgb(210, 2, 2);
}

.my-button.red:hover {
  background-color: rgb(161, 0, 0);
}

.my-button.green {
  background-color: rgb(248, 241, 39);

}

.my-button.green:hover {
  background-color: rgb(213, 219, 51);
}

.my-button:hover {
  background-color: rgb(233, 186, 0);
}