.vacancy-element {
        
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;

    margin: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
}

.vacancy-element:hover {
    background-color: #bebebe;
    transition: all .2s;
}

.vacancy-element h2 {
    margin: 2px;
}

.vacancy-element h3 {
    margin: 2px;
}

.vacancy-element .city {
    margin-bottom: 5px;
}